{erl_opts, [
    debug_info,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard
]}.

{deps, [
    rand_compat,
    {inet_cidr, "1.0.1", {pkg, erl_cidr}},
    {inet_ext, "0.4.0"},
    {intercept, "1.0.0"},
    {lhttpc, "1.6.2"}
]}.


{profiles, [{docs, [{deps,
                     [
                      {edown,
                       {git, "https://github.com/uwiger/edown.git",
                        {tag, "0.8"}}}
                     ]},

                    {edoc_opts, [{doclet, edown_doclet},
                                 {packages, false},
                                 {subpackages, true},
                                 {top_level_readme,
                                  {"./README.md", "https://github.com/benoitc/erlang-nat"}}]}]}
           ]}.

